PORT=8080
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=digital_invitations
DB_PORT=3306
JWT_SECRET=byt-denna-hemliga-nyckel
STRIPE_SECRET_KEY=
CLIENT_URL=http://localhost:3000
RESEND_API_KEY=
RESEND_FROM_EMAIL=
